button{
    justify-content: center;
    position:relative;
    top:300px;
    left:630px;
}
body{
    background-image: url(6757cbc60461df9.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
p{
    color:black;
    font-size:100px;
    margin: auto;
	display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top:300px;
}
hr{
    color:black;
    position:relative;
    top:300px;
}
form{
    position:relative;
    top:300px;
    left:630px;
}