
form{
    position:relative;
    top:300px;
    left:500px;
}
input{
    border:1px solid black;
}
div{
    background-color:blue;
    position:relative;
    top:300px;
    left:500px;
    opacity: 0.05;
}